./.vscode/*

# for Cpp-Src
./Cpp-Src/Main/*.o
./Cpp-Src/Main/a.out
./Cpp-Src/Windows/.vs/*
./Cpp-Src/Windows/Debug/*
./Cpp-Src/Windows/Windows/*

# for Csharp-Src
./Csharp-Src/.vs/*
./Csharp-Src/Csharp-Src/bin/*
./Csharp-Src/Csharp-Src/obj/*

# for Java-Src
./Java-Src/*.class

# for Python-Src
./Python-Src/__pycache__/*

# for Swift-Src
./Swift-Src/Swift-Src.xcodeproj/*